<div>
	<% if @page_navigation_links %>
		<ul>
			<% @page_navigation_links.each do |link| %>
				<li><%= link_to link.name.upcase, scope_link(link), class: "" %></li>
			<% end %>
		</ul>
	<% end %>
	<%= yield %>
</div>